body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 450px;
    height: 700px;
    border-radius: 8px;
    padding:20px;
}
.display{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    width:450px;
    height: 125px;
    background-color: grey;
}
.calc-buttons{
    width:100%;
    height:80%;
    background-color: grey;
    display: grid;
    gap:1px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}
button{
    display: flex;
    margin:2px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.eq_button{
    grid-column: span 2;
}